{% extends 'layout.html.twig' %}

{% block content_title %}
	{{ "competition.title"|trans }}
{% endblock %}

{% block content_description %}
	{{ "competition.add.title"|trans }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="box box-primary">
				<div class="box-header with-border">
					{{ "competition.add.title"|trans }}
				</div>
				<div class="box-body">
					{{ form_start(form) }}
					{{ form_row(form.name,{label: "competition.data.name"|trans}) }}
					{{ form_row(form.place,{label: "competition.data.place"|trans}) }}
					{{ form_row(form.date,{label: "competition.data.date"|trans,attr: {class: "js-datepicker"} }) }}
					<div class="row">
						<div class="col-md-4 col-md-offset-4 text-center">
							{{ form_widget(form.visibility,{label: "competition.data.visibility"|trans}) }}
						</div>
					</div>

					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<button type="submit" class="btn btn-primary btn-block">Mentés</button>
						</div>
					</div>

					{{ form_end(form) }}
				</div>
			</div>

		</div>
	</div>
{% endblock content %}