{% extends 'layout.html.twig' %}

{% block content %}
	<div class="box box-default">
		<div class="box-header">
			<div class="box-tools">
				<a href="{{ path("add_competition") }}" class="btn btn-primary">Hozzáadás</a>
			</div>
		</div>
		<div class="box-body table-responsive no-padding">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Név</th>
						<th>Cím</th>
						<th>Időpont</th>
					</tr>
				</thead>
				<tbody>
					{% for competition in competitions %}
						<tr>
							<td>{{ competition.name }}</td>
							<td>{{ competition.place }}</td>
							<td>{{ competition.date.format("Y-m-d") }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}