{% extends 'base.html.twig' %}

{% block bodyAttr %}
	class="skin-green sidebar-mini"
	style="height: auto; min-height: 100%;"
{% endblock %}

{% block stylesheets %}
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/admin-lte/dist/css/AdminLTE.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/admin-lte/dist/css/skins/skin-green.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}"/>

	<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="{{ asset('assets/css/app.css') }}"/>
{% endblock %}

{% block body %}
	<div class="wrapper" style="height: auto; min-height: 100%;">
		<header class="main-header">
			<a href="#" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>OLY</b></span>
				<!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>Olympos</b></span>
			</a>

			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="hidden-xs">User</span>
							</a>
							<ul class="dropdown-menu">
								<li class="user-header">a</li>
								<li class="user-body">s</li>
								<li class="user-footer">
									<div class="pull-left">
										<a href="#" class="btn btn-default btn-flat">{{ "user.menu.profile"|trans }}</a>
									</div>
									<div class="pull-right">
										<a href="#" class="btn btn-default btn-flat">{{ "user.menu.signout"|trans }}</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu tree" data-widget="tree">
					<li class="header">HEADER</li>
					<!-- Optionally, you can add icons to the links -->
					{{ block("menu") }}
				</ul>
			</section>
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					{% block content_title %}{% endblock %}
					<small>{% block content_description %}{% endblock %}</small>
				</h1>
{#				{{ wo_render_breadcrumbs() }}#}
			</section>

			<section class="content container-fluid">

				{% block content %}
					
				{% endblock content %}

			</section>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/admin-lte/dist/js/adminlte.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.hu.min.js') }}"></script>
	
	<script type="text/javascript">
		$(".js-datepicker").datepicker({
			format: 'yyyy.mm.dd',
			language: "hu"
		});
	</script>
{% endblock %}