{% extends 'adminLTE/layout.html.twig' %}

{% block title %}Olympos{% endblock %}

{% block menu %}
	<li class="treeview">
		<a href="#">
			<i class="fa fa-trophy"></i>
			<span>Verseny</span>
			<span class="pull-right-container">
				<i class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
		<ul class="treeview-menu">
			<li>
				<a href="{{ path("list_competition") }}"><i class="fa fa-trophy" aria-hidden="true"></i>Verseny lista</a>
			</li>
			<li>
				<a href="{{ path("add_competition") }}"><i class="fa fa-plus" aria-hidden="true"></i>Verseny hozzáadása</a>
			</li>
		</ul>
	</li>
{% endblock %}